/resources/word2vec/GoogleNews-vectors-negative300.bin
target/
/.idea/
/resources/commandLog/right.txt
/resources/commandLog/wrong.txt
/resources/commandLog/miscellaneous.txt
/resources/memory/memory.mem
/resources/memory/memoryTest.mem
/src/Bayes/MyExample.java
/doc/~$presentation.pptx
/doc/latex/Viki.synctex.gz
/doc/latex/Viki.aux
