/resources/word2vec/GoogleNews-vectors-negative300.bin
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
target/
/.idea/
.idea/inspectionProfiles/
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__args4j_args4j_2_33.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_2.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_2.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_0_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_guava_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk7_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_joda_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_afterburner_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_5_1.xml
.idea/libraries/Maven__com_github_jai_imageio_jai_imageio_core_1_3_0.xml
.idea/libraries/Maven__com_github_spullara_mustache_java_compiler_0_8_17.xml
.idea/libraries/Maven__com_google_code_findbugs_annotations_2_0_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_0.xml
.idea/libraries/Maven__com_google_guava_guava_19_0.xml
.idea/libraries/Maven__com_martiansoftware_jsap_2_1.xml
.idea/libraries/Maven__com_twelvemonkeys_common_common_image_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_common_common_io_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_common_common_lang_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_imageio_imageio_bmp_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_imageio_imageio_core_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_imageio_imageio_jpeg_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_imageio_imageio_metadata_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_imageio_imageio_psd_3_1_1.xml
.idea/libraries/Maven__com_twelvemonkeys_imageio_imageio_tiff_3_1_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_8.xml
.idea/libraries/Maven__commons_collections_commons_collections_20040616.xml
.idea/libraries/Maven__commons_configuration_commons_configuration_1_8.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_api_1_1.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_assets_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_client_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_configuration_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_core_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_forms_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_jackson_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_jersey_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_jetty_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_lifecycle_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_logging_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_metrics_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_servlets_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_util_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_validation_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_views_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_views_freemarker_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_views_mustache_0_8_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_annotation_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_core_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_healthchecks_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_httpclient_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_jersey2_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_jetty9_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_json_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_jvm_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_logback_3_1_0.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_servlets_3_1_0.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_0_28_Final.xml
.idea/libraries/Maven__io_netty_netty_common_4_0_28_Final.xml
.idea/libraries/Maven__it_unimi_dsi_dsiutils_2_2_2.xml
.idea/libraries/Maven__it_unimi_dsi_fastutil_6_5_15.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
.idea/libraries/Maven__net_sf_jwordnet_jwnl_1_3_3.xml
.idea/libraries/Maven__net_sourceforge_argparse4j_argparse4j_0_4_4.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_8.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_3_1.xml
.idea/libraries/Maven__org_apache_commons_commons_math3_3_4_1.xml
.idea/libraries/Maven__org_apache_directory_studio_org_apache_commons_codec_1_8.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_5.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3_2.xml
.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_5_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_5_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queries_5_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_5_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_5_3_1.xml
.idea/libraries/Maven__org_apache_lucene_lucene_snowball_3_0_3.xml
.idea/libraries/Maven__org_apache_opennlp_opennlp_maxent_3_0_3.xml
.idea/libraries/Maven__org_apache_opennlp_opennlp_tools_1_5_3.xml
.idea/libraries/Maven__org_apache_opennlp_opennlp_uima_1_5_3.xml
.idea/libraries/Maven__org_apache_uima_uimafit_core_2_0_0.xml
.idea/libraries/Maven__org_apache_uima_uimaj_core_2_5_0.xml
.idea/libraries/Maven__org_bytedeco_javacpp_1_2_1.xml
.idea/libraries/Maven__org_bytedeco_javacpp_presets_ffmpeg_3_0_2_1_2.xml
.idea/libraries/Maven__org_bytedeco_javacpp_presets_ffmpeg_macosx_x86_64_3_0_2_1_2.xml
.idea/libraries/Maven__org_bytedeco_javacpp_presets_leptonica_1_73_1_2.xml
.idea/libraries/Maven__org_bytedeco_javacpp_presets_leptonica_macosx_x86_64_1_73_1_2.xml
.idea/libraries/Maven__org_bytedeco_javacpp_presets_opencv_3_1_0_1_2.xml
.idea/libraries/Maven__org_bytedeco_javacpp_presets_opencv_macosx_x86_64_3_1_0_1_2.xml
.idea/libraries/Maven__org_bytedeco_javacv_1_2.xml
.idea/libraries/Maven__org_cleartk_cleartk_opennlp_tools_2_0_0.xml
.idea/libraries/Maven__org_cleartk_cleartk_snowball_2_0_0.xml
.idea/libraries/Maven__org_cleartk_cleartk_type_system_2_0_0.xml
.idea/libraries/Maven__org_cleartk_cleartk_util_2_0_0.xml
.idea/libraries/Maven__org_deeplearning4j_arbiter_core_0_0_0_7.xml
.idea/libraries/Maven__org_deeplearning4j_arbiter_deeplearning4j_0_0_0_7.xml
.idea/libraries/Maven__org_deeplearning4j_deeplearning4j_core_0_4_rc3_10.xml
.idea/libraries/Maven__org_deeplearning4j_deeplearning4j_nlp_0_4_rc3_10.xml
.idea/libraries/Maven__org_deeplearning4j_deeplearning4j_ui_0_4_rc3_10.xml
.idea/libraries/Maven__org_deeplearning4j_deeplearning4j_ui_components_0_4_rc3_10.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_continuation_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlets_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_2_9_v20150224.xml
.idea/libraries/Maven__org_eclipse_jetty_toolchain_setuid_jetty_setuid_java_1_0_2.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_21.xml
.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
.idea/libraries/Maven__org_glassfish_javax_el_3_0_0.xml
.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_connectors_jersey_apache_connector_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_core_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_ext_jersey_metainf_services_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_jaxb_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_multipart_2_16.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_1_3_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
.idea/libraries/Maven__org_jcodec_jcodec_0_1_5.xml
.idea/libraries/Maven__org_json_json_20131018.xml
.idea/libraries/Maven__org_jvnet_mimepull_mimepull_1_9_3.xml
.idea/libraries/Maven__org_nd4j_canova_api_0_0_0_16.xml
.idea/libraries/Maven__org_nd4j_canova_data_image_0_0_0_16.xml
.idea/libraries/Maven__org_nd4j_canova_nd4j_codec_0_0_0_16.xml
.idea/libraries/Maven__org_nd4j_canova_nd4j_common_0_0_0_16.xml
.idea/libraries/Maven__org_nd4j_canova_nd4j_image_0_0_0_16.xml
.idea/libraries/Maven__org_nd4j_nd4j_api_0_4_rc3_10.xml
.idea/libraries/Maven__org_nd4j_nd4j_buffer_0_4_rc3_10.xml
.idea/libraries/Maven__org_nd4j_nd4j_common_0_4_rc3_10.xml
.idea/libraries/Maven__org_nd4j_nd4j_context_0_4_rc3_10.xml
.idea/libraries/Maven__org_nd4j_nd4j_jackson_0_4_rc3_10.xml
.idea/libraries/Maven__org_nd4j_nd4j_native_0_4_rc3_10.xml
.idea/libraries/Maven__org_nd4j_nd4j_native_api_0_4_rc3_10.xml
.idea/libraries/Maven__org_nd4j_nd4j_native_macosx_x86_64_0_4_rc3_10.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_16_4.xml
.idea/libraries/Maven__org_reflections_reflections_0_9_10.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_10.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_10.xml
.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_10.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_1_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_asm_3_1_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_1_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_1_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_1_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_1_2_RELEASE.xml
.idea/libraries/Maven__org_tukaani_xz_1_5.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_12.xml
/src/LearningAlgorithm/PlaceHolder.java
