/resources/word2vec/GoogleNews-vectors-negative300.bin
target/
/.idea/
/resources/commandLog/right.txt
/resources/commandLog/wrong.txt
/resources/commandLog/miscellaneous.txt
/doc/Viki.out
/resources/memory/memory.mem
/resources/memory/memoryTest.mem
/doc/Viki.synctex.gz
